.container{
    padding: 0;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: medium;
}

#nav{
    width: 100%;
    border-radius: 0;
}

#dropdown{
    color: white;
}

#contenedor{
    margin-left: 10%;
    margin-right: 10%;
}

#botonCargar{
    border-radius: 0;
}

#inputText{
    border-radius: 0;
}
.divImg{
    border: 1px solid black;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}